/* For post titles */  
.intro-header .post-heading h1 {  
  font-size: 2rem; /* Custom size */  
}  
  
/* For page titles */  
.intro-header .page-heading h1 {  
  font-size: 2.5rem; /* Custom size */  
}  
  
/* Desktop responsive sizes */  
@media (min-width: 1200px) {  
  .intro-header .post-heading h1 {  
    font-size: 3rem;  
  }  
  .intro-header .page-heading h1 {  
    font-size: 3.75rem;  
  }  
}
